<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Informacion del proyecto</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index.html">Camellito</a></strong> por Daniel</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
					</header>

					<a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
					<p>
			  
					  El proyecto consiste en un sistema que guardara la informacion de los estudiantes
					  y profesores la cual sera accesible gracias a los chips NFC.
					  Mediante unos lectores ubicados en las salidas de la institucion y algunos en el comedor y
					  el autobus se podra solicitar la informacion y horarios de cada estudiante o profesor ya
					  sea para ver su horario de clases o si cuentan con algun tipo de beca.
					</p><p>
					  La informacion sera guardada en una base de datos y podra ser solicitada en cualquier
					  momento gracias a esto se podra agilizar la espera en el comedor y se podra saber si
					  algun estudiante cuenta con algun tipo de beca, ademas de esto podra registrar la hora de
					  entrada y salida de cada estudiante y profesor.
					</p><p>
					  Tambien podra ser utilizada para saber que estudiantes utilizan los diferentes servicios de
					  la institucion, como el comedor, autobuses o la biblioteca, registrando el uso de estos por
					  ejemplo cualquier estudiante que utilice el comedor quedara registrada la fecha de su uso.
					  </p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>